<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>剧情内页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>princess</title>
    <link rel="stylesheet" type="text/css" href="css/princess.all.css">
    <link rel="stylesheet" type="text/css" href="css/princess.qj.css">
    <link rel="stylesheet" type="text/css" href="css/jqny.qj.css">
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://fantuanpu.com/Static/Script/mc.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fantuanpu.com/Static/Style/mc.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src= "//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
</head>
<body>
<div class="header"style="z-index: 99998;">
    <div class="memuBtn"style="margin: 8px;"></div>
    <p class="title">
        <a href="#">扑扑扑.com</a>
    </p>
    <div style="max-width: 960px;min-width: 900px;margin: 0 auto;height: 40px;">
        <h1 style="float: right;display: inline;margin: 0 auto;"></h1>
        <div class="search">
            <a class="add-me"style="position: relative;right: 85px;">
                <span>0</span>
                Message
            </a>
            <form action>
                <input type="text" name class="in_text" placeholder="Searching.."style="position: relative;bottom: 52px;">
            </form>
        </div>
        <ul class="hd">
            <li>
                <a href="#">
                    <p>
                        板块
                        <span>Froums</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p style="color: #ff3558;">公告/招募</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p style="color: #43a9d9;">
                        WIKI
                    </p>
                </a>
            </li>
        </ul>
        <span class="clear"></span>
    </div>
</div>
<nav id="content-actions" class="subnav subnav-fixed container-fluid">
    <ul class="nav nav-pills">
        <li>
            <a href="#" class="navber-brand logo-wiki" title="电击文库：零镜交错">电击文库：灵镜交错</a>
        </li>
        <li>
            <a href="#">首页</a>
        </li>
        <li class="dropdown phone-active open">
            <a href="#" class="dropdown-toggle"data-toggle="dropdown">角色&nbsp

            </a>
            <ul class="dropdown-menu phone-active"style="background-color: #474747;">
                <li>
                    <a href="#" class="">S角色</a>
                </li>
                <li>
                    <a href="#" class="">A角色</a>
                </li>
                <li>
                    <a href="#" class="">B角色</a>
                </li>
                <li>
                    <a href="#" class="">C角色</a>
                </li>
            </ul>

        </li>
        <li class="dropdown phone-active open">
            <a href="#" class="dropdown-toggle"data-toggle="dropdown">章节&nbsp

            </a>
            <ul class="dropdown-menu phone-active"style="background-color: #474747;">
                <li>
                    <a href="#" class="">第一章</a>
                </li>
                <li>
                    <a href="#" class="">第二章</a>
                </li>
                <li>
                    <a href="#" class="">第三章</a>
                </li>
                <li>
                    <a href="#" class="">第四章</a>
                </li>
                <li>
                    <a href="#" class="">第五章</a>
                </li>
                <li>
                    <a href="#" class="">第六章</a>
                </li>
                <li>
                    <a href="#" class="">第七章</a>
                </li>
                <li>
                    <a href="#" class="">第八章</a>
                </li>
                <li>
                    <a href="#" class="">第九章</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
<div id="active"style="height: 2851px;z-index: 0;box-shadow: 0 0 50px #212121;">
    <div class="ava_message">
        <img src="img/321.jpg" style="width: 80px;height: 80px;border-radius: 100%;overflow: hidden;position: relative;left: 70px;">
        <p style="position: relative;top: 20px;left: 40px;">
            请
            <a class="aleft_ajax_login" href="#"style="color: rgba(255,76,115,0.75);">登录</a>
            /
            <a class="aleft_ajax_reg" href="#" style="color: rgba(255,76,115,0.75);">注册</a>
            您的账号
        </p>
        <div class="clear"></div>
    </div>
    <div class="jq">
        <ul>
            <li class="trans">
                <a href="#"style="position: relative;left: 20px;">
                    加入饭团扑
                </a>
                <i ></i>
            </li>
        </ul>
    </div>
    <div style="position: relative;top:410px;left:11px;width: inherit;opacity: .7;">
        <p class="statement"style="margin-bottom: 1px;">
            Powered by
            <a href="#">FantuanpuDevelopers</a>
            .
        </p>
        <p class="statement"style="margin-bottom: 1px;">
            Used
            <a href="#">PHP</a>
            &
            <a href="#">Laravel</a>
            &
            <a href="#">Swoole</a>
        </p>
    </div>
</div>
<div class="crown"style="margin-top: 120px;padding: 5px;">
    <div class="atwiki-breadcrumb-list">
    </div>
    <div class="crown-ht">
        <div class="crown-ht-l">
            <div class="crown-l-top">
                <h1 class="crown-top-txt">
                    <b>
                        <a href="#">电击文库：零境交错WIKI</a>
                    </b>
                </h1>
                <p class="crown-wiki-num">
                    <em>520</em>
                    词条已创建
                </p>
            </div>
            <form action>
                <input type="text" name="search" class="crown-wiki-ss"placeholder="在本wiki中搜索">
                <input type="submit" name="fulltxt" value="搜索" title="搜索含有这些文字的页面" class="wiki-ssk"style="padding: 0;margin: 0;font-weight: 100;position:relative;left: 25px;bottom: .4px;border: 1px solid #3c3c3c;border-radius:0 ;background-color: #292f42">
            </form>
            <div class="wiki-list-txt">
                <div class="wiki-list">
                    <ul>
                        <li>
                            <a href="#"title="常见问题">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    常见问题
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="新手指南">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    新手指南
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wiki-list">
                    <a href="#">
                        <em>活动</em>
                    </a>
                    <ul>
                        <li>
                            <a href="#"title="剧情">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    剧情
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="挑战">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    挑战
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wiki-list">
                    <a href="#">
                        <em>角色</em>
                    </a>
                    <ul>
                        <li>
                            <a href="#"title="天赋技能">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    天赋技能
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="角色搭配">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    角色搭配
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="道具图鉴">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    道具图鉴
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wiki-list">
                    <a href="#">
                        <em>公告栏</em>
                    </a>
                    <ul>
                        <li>
                            <a href="#"title="投稿区">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    投稿区
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="更新日志">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    更新日志
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="关于本wiki">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    关于本wiki
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wiki-list">

                    <ul>
                        <li>
                            <a href="#"title="问题板">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 8px 0;">
                                    问题板
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="反馈板">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    反馈板
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#"title="免责声明">
                                <p style="vertical-align: inherit;font-size: 15px;line-height: 20px;margin: 13px 0;">
                                    免责声明
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="crown-ht-r">

            <div class="wiki-big">
                <div class="ny-bcak">
                    <div class="ny-top">
                        <div class="ny-top-1"style="font-size: 21px;">第3章：被篡改的程序</div>
                    </div>
                    <div class="top-bottom">
                        <p class="p-bottom">
                            <span>最后编辑</span>
                            <span>
                                <a href="#"target="_blank">三十一</a>
                            </span>
                            <span>更新日期：2018-08-29 16：31</span>
                            <span>
                             &nbsp;&nbsp;&nbsp;来源：
                                <a href="#" target="_blank">饭团扑</a>
                            </span>
                        </p>
                    </div>
                    <div id="text-b" >
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-1</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-1</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-1.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-2</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-2</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>在7回合内击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>在6回合以内通关、没有任何角色战败、清除敌方增益类状态</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验、升星素材（技能强化材料）、强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-2.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-3</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-3</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-3.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-4</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-4</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>在6回合以内通关、没有任何角色战败、清除我方增益类或伤害类状态</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料（技能强化材料）、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                桐人，研珠会加伤重，受挫buff  建议净化。推荐人物龙儿   初春
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-4.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">训练-第三章： 跳过训练</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>跳过训练</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>首次通关奖励30迷子</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                通关3-4后解锁的训练章节，主要为玩家熟悉战斗系统操作
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-4-1.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-5</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-5</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-5.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-6</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-6</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>在7回合内击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>在6回合以内通关、没有任何角色战败、使用升华技击败至少1个敌人</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验、升星材料、强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                深雪攻击后自带反弹58%伤害buff  加增益buff会被黑猫驱散状态  建议带治疗强打过去<br/>
                                                推荐辅助  桐乃  莉法  艾莉欧
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-6.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">训练-第三章：重伤训练</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>重伤训练</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方前排的角色</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>首次通关奖励30迷子</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                通关3-6后解锁的训练章节，主要为玩家熟悉战斗系统操作 <br/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-6-1.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-7</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-7</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-7.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-8</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-8</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-8.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-9</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-9</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>在7回合以内通关</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>在5回合以内通关、没有任何角色战败、释放升华技不低于1次</td>

                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料（技能强化材料）、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                第一回合深雪会上破甲buff  第三回合桐人会放弃疗斩。
                                                建议净化破甲状态 <br/>
                                                推荐人物龙儿   初春

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-9.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-10</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-10</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-10.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3-11</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3-11</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>无</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验，强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                前三章类似训练关卡  按剧情走通过人物升级升星自然能过
                                                （练度够就能过）
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-11.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">Chapter 3 Final</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3 Final</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>胜利条件</b></th>
                                            <td>在6回合内击败敌方全员</td>
                                        </tr>
                                        <tr>
                                            <th><b>三星条件</b></th>
                                            <td>在5回合内通关、没有任何角色战败、首先击败前排的敌人</td>
                                        </tr>
                                        <tr>
                                            <th><b>推荐等级</b></th>
                                            <td>全员2级
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>随机掉落物品</b></th>
                                            <td>经验、升星材料（技能强化材料）、强化材料、金币、经验药水、蓝色品质以下装备、活动物品</td>
                                        </tr>
                                        <tr>
                                            <th><b>注意事项</b></th>
                                            <td>
                                                第一回合傻娜炮姐普通攻击 小学生加攻击状态。<br/>
                                                第二回合傻娜炮姐会放创伤技能  如果有攻击buff  每回合会掉595滴血<br/>
                                                所以最好带上一个驱散或者治疗   清除傻娜炮姐攻击buff或者解除自己掉血buff

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/3-12.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>

                        </div>
                        <div class="wiki-t">
                            <div class="wiki-bt">
                                <p style="margin: 0;color: #ffffff;">通关奖励</p>
                            </div>
                            <div class="wikith">
                                <div class="wikitr">
                                    <table class="wikitable">
                                        <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <b>Chapter 3 通关奖励</b>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 8em;"><b>本章奖励</b></th>
                                            <td>120迷子</td>
                                        </tr>
                                        <tr>
                                            <th><b>六星奖励</b></th>
                                            <td>8000金币、刨冰×10</td>
                                        </tr>
                                        <tr>
                                            <th><b>十二星奖励</b></th>
                                            <td>10000金币、梦幻药剂25号×10
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><b>十五星奖励</b></th>
                                            <td>书签兑换卷×1、10000金币、白银之钥·III </td>
                                        </tr>
                                        <tr>
                                            <th><b>刨冰</b></th>
                                            <td>可提供300点角色经验值</td>
                                        </tr>
                                        <tr>
                                            <th><b>梦幻药剂25号</b></th>
                                            <td>可提供240点藏品经验值</td>
                                        </tr>
                                        <tr>
                                            <th><b>白银之钥·III </b></th>
                                            <td>异防加成+1.15%（对所以角色生效）</td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="wikitr">
                                    <p >
                                        <img src="img/ZJ/tg3.jpg" style="width: 100%;height: 100%;margin-top: 13px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="btn"style="font-size: 15px; border-radius: 4px">展开全文</button>
                </div>
                <div class="h-top">
                    <span>发表评论</span>
                </div>
                <form style="margin: 10px;margin-top: 20px;">
                    <textarea name="message" style="display: none"></textarea>

                    <div id="repost" style="background-color: #fff;box-shadow: 0 0 5px #eee;"><div style="background-color:#f1f1f1; border:1px solid #ccc;" class="w-e-toolbar"><div class="w-e-menu" style="z-index:10001;"><i class="w-e-icon-header"><i></i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-bold"><i>
                        </i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-italic"><i>
                        </i></i></div><div class="w-e-menu" style="z-index:10001;"><i class="w-e-icon-link"><i></i></i></div><div class="w-e-menu" style="z-index:10001;"><i class="w-e-icon-list2"><i></i></i></div><div class="w-e-menu" style="z-index:10001;"><i class="w-e-icon-paragraph-left"><i></i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-quotes-left"><i>
                        </i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-terminal"><i>
                        </i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-undo"><i>
                        </i></i></div><div class="w-e-menu" style="z-index:10001;">
                        <i class="w-e-icon-redo"><i>
                        </i></i></div></div><div style="border:1px solid #ccc; border-top:none; height:300px; z-index:10000;" class="w-e-text-container"><div contenteditable="true" style="width:100%; height:100%;" class="w-e-text"><p><br></p></div></div></div>
                    <span id="post-thread">回复</span>

                </form>
                <div class="plq">
                    <div  class="plq-head">
                        <p>
                            评论区
                        </p>
                    </div>
                    <div class="clearfix pll">
                        <div class="plq-img">
                            <img src="img/10.jpg">
                            <em>10:02</em>
                            <span>
                            <a href="#" style="color: #c94a58;">
                                回复
                            </a>
                        </span>
                        </div>
                        <div class="pl" style="text-align: center">
                            <div>
                                <a href="#"target="_blank">Miko</a>
                            </div>
                            <span>傻狼终于开始想办法了</span>
                        </div>
                    </div>
                    <div class="clearfix pll">
                        <div class="plq-img">
                            <img src="img/10.jpg">
                            <em>10:02</em>
                            <span>
                            <a href="#" style="color: #c94a58;">
                                回复
                            </a>
                        </span>
                        </div>
                        <div class="pl" style="text-align: center">
                            <div>
                                <a href="#"target="_blank">Miko</a>
                            </div>
                            <span>傻狼终于开始想办法了</span>
                        </div>
                    </div>
                    <div class="clearfix pll">
                        <div class="plq-img">
                            <img src="img/10.jpg">
                            <em>10:02</em>
                            <span>
                            <a href="#" style="color: #c94a58;">
                                回复
                            </a>
                        </span>
                        </div>
                        <div class="pl" style="text-align: center">
                            <div>
                                <a href="#"target="_blank">Miko</a>
                            </div>
                            <span>傻狼终于开始想办法了</span>
                        </div>
                    </div>
                    <div class="clearfix pll">
                        <div class="plq-img">
                            <img src="img/10.jpg">
                            <em>10:02</em>
                            <span>
                            <a href="#" style="color: #c94a58;">
                                回复
                            </a>
                        </span>
                        </div>
                        <div class="pl" style="text-align: center">
                            <div>
                                <a href="#"target="_blank">Miko</a>
                            </div>
                            <span>傻狼终于开始想办法了</span>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div style="clear: both"></div>
<div id="footer">
    <div class="wiki-bottom">
        <div class="wiki-bottom-l">

        </div>
    </div>
</div>
<script>
    var btn = document.getElementById('btn');
    var obj = document.getElementById('text-b');
    var total_height =  obj.scrollHeight;//文章总高度
    var show_height = 1040;//定义原始显示高度
    if(total_height>show_height){
        btn.style.display = 'block';
        btn.onclick = function(){
            obj.style.height = total_height + 'px';
            btn.style.display = 'none';
        }
    }
</script>
</body>
</html>